@import '../../base-style';

.error-text {
    background-color: map-get($colors, warning-light3);
    padding: map-get($spaces, small);
    border-radius: map-get($general-styling, 'border-radius-textbox');
}
