# editor setting files
.vscode/
*.code-workspace

# environment variables
.env

# dependency files
node_modules/
.venv/

# some temporary data
server/server/data/
server/**/temp/

# some research data not part of codebase
research/

# testing
client/coverage

# production
client/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
