[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
flask = "*"
cerberus = "*"

[requires]
python_version = "3.7"

[scripts]
start = "flask run"
testdata = "python -m server.database.datacreator"
random = "python -m server.randomcode"
test = "python -m pytest -ra"
testl = "python -m pytest -ra --ignore server/database/tests/simplefile_test.py"
