@import '../../base-style';

.user-profile-page {
    padding: map-get($spaces, large) 0;
    color: map-get($colors, secondary);

    .breadcrumbs-container {
        margin-bottom: map-get($spaces, medium);
        background-color: map-get($colors, primary-light2);
        
        .breadcrumbs {
            @include centralize-in-page;
        }
    }

    .user-profile-page-info {
        @include centralize-in-page;
        
        margin-bottom: map-get($spaces, large);
    }

    .user-profile-page-fields {
        @include centralize-in-page;

        border-radius: map-get($general-styling, border-radius-card);
        overflow: hidden;
        
        h2 {
            padding: map-get($spaces, medium);
            background-color: map-get($colors, primary-light2);
        }
        .profile-field {
            margin-top: 1px;
        }
    }
}
