@import '../../base-style';

.user-profile-page {
    padding: map-get($spaces, large) 0;

    .breadcrumbs-container {
        margin-bottom: map-get($spaces, medium);
        background-color: map-get($colors, primary-light2);
        
        .breadcrumbs {
            @include centralize-in-page;
        }
    }

    .user-profile-page-info {
        @include centralize-in-page;
        
        color: map-get($colors, secondary);
    }
}
