@import '../../base-style';

.form-button {
    width: map-get($dimensions, 'form-button-width');
    line-height: map-get($dimensions, 'form-button-height');
    padding: 0 5px;
    border-radius: map-get($general-styling, 'border-radius-button');
    
    background-color: map-get($colors, secondary);
    text-align: center;
    color: map-get($colors, primary);
    font-weight: 600;

    &:hover {
        background-color: map-get($colors, primary);
        color: lighten(map-get($colors, secondary), 10);
    }
}
