@import '../../base-style';

$vertical-spaces-between-widgets: map-get($spaces, 'small');

.modal-signup {
    padding:  map-get($spaces, large);

    .modal-header {
        font-size: map-get($font-size, 'header');
        margin-bottom: map-get($spaces, large);
    }

    .input-label {
        font-size: map-get($font-size, 'medium');
        width: map-get($dimensions, 'form-input-width');
        color: map-get($colors, primary);
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label {
            font-weight: 600;
        }

        .required {
            color: map-get($colors, primary-light3);
        }
    }

    .form-input {
        margin-bottom: $vertical-spaces-between-widgets;
    }

    .form-button {
        background-color: lighten(map-get($colors, secondary), 10);
    }
}
