@import '../../base-style';

.post-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: map-get($dimensions, post-card-min-height);
    padding: map-get($spaces, small);

    border-radius: map-get($general-styling, border-radius-card);
    background-color: map-get($colors, secondary);

    .post-card-ownerinfo {
        flex: 0 0 auto;

        padding: map-get($spaces, small);

        .portrait {
            height: map-get($dimensions, post-card-portrait-size);
            width: map-get($dimensions, post-card-portrait-size);
            margin: 0 auto;
        }
        p {
            text-align: center;
        }
    }

    .post-card-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        
        div {
            padding: map-get($spaces, small) map-get($spaces, medium);
        }
        hr {
            flex: 0 0 auto;
            margin: 0px map-get($spaces, medium);
        }
        .post-card-header, .post-card-footer {
            flex: 0 0 auto;
        }
        .post-card-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;

            .post-card-header-postnum {
                flex: 0 0 auto;
                width: map-get($dimensions, post-card-header-postnum-width);
                font-weight: 600;
            }
            .post-card-header-postedat {
                flex: 1 1 auto;
                font-size: map-get($font-size, small);
                color: map-get($colors, primary-light3);
            }
        }
        .post-card-footer {
            font-size: map-get($font-size, small);
        }
    }
}
