@import '../../base-style';

.html-input {
    position: relative;
    box-sizing: border-box;
    background-color: lightblue;

    .html-input-input {
        min-height: 150px;
        padding: 5px 10px;

        &:focus {
            outline: 0;
        }
    }
}
