@import '../../base-style';

.create-post {
    .create-post-error {
        margin-bottom: map-get($spaces, medium);
        background-color: lighten( map-get($colors, '99'), 30% );
        padding: map-get($spaces, small);
        border-radius: map-get($general-styling, 'border-radius-textbox');
    }
    .create-post-button {
        outline: inherit;
        background: white;
        text-align: center;
        width: 100px;
        border-radius: map-get($general-styling, 'border-radius-button');
        line-height: 2em;
        margin-top: map-get($spaces, medium);
    }
}
