@import '../../base-style';

.board-page {
    padding: map-get($spaces, large) 0;

    .breadcrumbs-container {
        margin-bottom: map-get($spaces, medium);
        background-color: map-get($colors, primary-light2);
        
        .breadcrumbs {
            @include centralize-in-page;
        }
    }

    .board-page-boardinfo {
        @include centralize-in-page;

        margin-bottom: map-get($spaces, medium);
        color: map-get($colors, secondary);

        .board-title {
            margin-bottom: map-get($spaces, small);
        }
    }

    .board-page-controls {
        @include centralize-in-page;
        
        margin-bottom: map-get($spaces, large);

        .form-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 0 map-get($spaces, small);

            &.create-thread{
                width: 150px;

                .fa-plus {
                    font-size: map-get($font-size, large);
                    color: map-get($colors, primary-light1);
                    margin-right: map-get($spaces, small);
                }
            }
        }
    }

    .entity-list {
        @include centralize-in-page;

        .thread-card {
            margin-bottom: 1px;
            
            &:first-of-type {
                margin-top: map-get($spaces, small);
            }
            &:last-of-type {
                margin-bottom: map-get($spaces, small)
            }
        }
    }
}
