.userinfo {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 50vw;
    padding: 10px;
    border-radius: .5em;
    box-shadow: 8px 8px 8px 0 rgba(255, 255, 255, .25);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, .25);
}