[flake8]
exclude =
    conftest.py
    ./pytest_cache,
    *.json,
    __pycache__,
    server/playground/*,

ignore = 
    # suppress spaces between square brackets
    E201,E202,
    # suppress blank line contains whitespace warning
    W293,
    # suppress warnings on number of #s used for comment
    E266,

max-line-length = 100