[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
flask = "*"
cerberus = "*"
passlib = "*"
bcrypt = "*"
pymongo = "*"
boto3 = "*"
pillow = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m flask run"
testdata = "python ./tests/database/datacreator.py"
random = "python -m server.randomcode"
test = "python -m pytest -ra -m \"not integration\""
testl = "python -m pytest -ra -m \"not slow\""
