[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
cerberus = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m flask run"
testdata = "python server/tests/database/datacreator.py"
random = "python -m server.randomcode"
test = "python -m pytest -ra"
testl = "python -m pytest -ra -m \"not slow\""
