@import '../../base-style';

.thread-list {
    .pagination {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: map-get($colors, '01');
        width: map-get($dimensions, 'main-content-width');

        .pagination-space {
            flex: 1 1 auto;
        }
        .pagination-text {
            flex: 0 1 map-get($dimensions, 'pagination-text-width');

            font-size: map-get($font-size, 'small');
        }
        .pagination-buttons {
            flex: 0 1 map-get($dimensions, 'pagination-buttons-width');

            font-weight: 600;
            font-size: map-get($font-size, 'medium');
        }

        .button-disabled {
            opacity: 0.4;
        }
    }
}