@import '../../base-style';

.thread-page {
    padding: map-get($spaces, large) 0;

    .breadcrumbs-container {
        margin-bottom: map-get($spaces, medium);
        background-color: map-get($colors, primary-light2);
        
        .breadcrumbs {
            @include centralize-in-page;
        }
    }

    .thread-page-threadinfo {
        @include centralize-in-page;

        margin-bottom: map-get($spaces, large);
        color: map-get($colors, secondary);

        .thread-title {
            margin-bottom: map-get($spaces, small);
        }
    }

    .entity-list {
        @include centralize-in-page;

        .post-card {
            margin-bottom: map-get($spaces, medium);
        }
        .post-card:last-of-type {
            margin-bottom: 0px;
        }
    }

    .create-post {
        @include centralize-in-page;

        margin-top: map-get($spaces, large);
    }
}
