@import '../../base-style';

$width: map-get($dimensions, 'main-content-width');
$height: 600px;
$vertical-spaces-between-widgets: map-get($spaces, 'small');

.modal {
    position: fixed;
    top: calc(50vh - #{$height} / 2);
    left: calc(50vw - #{$width} / 2);

    background-color: map-get($colors, '01');
    width: $width;
    height: $height;

    padding: 20px 20px 40px 40px;

    .modal-button-close {
        position: absolute;
        right: 20px;
        top : 20px;

        color: map-get($colors, '00');
    }

    .modal-header {
        font-size: map-get($font-size, 'header');
    }
    
    .form-input-container {
        margin-bottom: $vertical-spaces-between-widgets;
    }

    .form-button {
        text-align: center;
        margin-bottom: $vertical-spaces-between-widgets;
        margin-right:  map-get($spaces, 'small');
        background-color: lighten(map-get($colors, '01'), 10);
        color: map-get($colors, '00');
        font-weight: 600;

        .button-with-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .button-logo {
            display: inline-block;
            width: 32px;
            height: 32px;
        }

        &:hover {
            background-color: map-get($colors, '00');
            color: lighten(map-get($colors, '01'), 10);
        }
    }

    .block-text {
        margin-bottom: $vertical-spaces-between-widgets;
    }
}

.modal-content {
    padding-bottom: $vertical-spaces-between-widgets; 
    border-bottom: 0.5px solid map-get($colors, '00');
    margin-bottom: $vertical-spaces-between-widgets;
}

// .modal-overlay {
//     background-color: crimson;
// }

// .ReactModalPortal-Login {

// }