@import '../../base-style';

$vertical-spaces-between-widgets: map-get($spaces, 'small');

.modal-login {
    padding:  map-get($spaces, large);

    .modal-header {
        font-size: map-get($font-size, 'header');
        margin-bottom: map-get($spaces, large);
    }
    
    .form-input {
        margin-bottom: $vertical-spaces-between-widgets;
    }

    .form-button {
        margin-bottom: $vertical-spaces-between-widgets;
        margin-right:  map-get($spaces, 'small');
    }

    .login-thirdparty-button-section {
        display: flex;
        align-items: center;

        .button-with-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .button-logo {
                display: inline-block;
            }
            .google-logo {
                width: 20px;
                height: 20px;
            }
            .twitter-logo {
                width: 32px;
                height: 32px;
            }
        }
    }

    .login-button-or-text {
        margin-bottom: $vertical-spaces-between-widgets;
    }
}

.modal-content {
    padding-bottom: $vertical-spaces-between-widgets; 
    border-bottom: 0.5px solid map-get($colors, primary);
    margin-bottom: $vertical-spaces-between-widgets;
}

// .modal-overlay {
//     background-color: crimson;
// }

// .ReactModalPortal-Login {

// }
