@import '../../base-style';

.form-input {
    // remove default styles
    border: none;
    margin: none;
    font-family: inherit;
    
    display: block;
    padding: 0 5px;
    font-size: map-get($font-size, 'medium');
    line-height: map-get($dimensions, 'form-input-height');
    border-radius: map-get($general-styling, 'border-radius-form');

    &:hover {
        border: 1px solid map-get($colors, '00');
    }
}