@import '../../base-style';

.form-input {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        display: block;
        flex: 0 0 map-get($dimensions, 'form-input-width');
        padding: 0 5px;
        font-size: map-get($font-size, 'medium');
        line-height: map-get($dimensions, 'form-input-height');
        height: map-get($dimensions, 'form-input-height');
        border-radius: map-get($general-styling, 'border-radius-form');
    
        background-color: lighten(map-get($colors, secondary), 10);
        border: 1px solid lighten(map-get($colors, secondary), 10);

        margin-right: map-get($spaces, large);

        &:hover {
            border: 1px solid map-get($colors, primary);
        }
        &.error-border {
            border-color: map-get($colors, warning);
        }
    }

    .error-text {
        flex: 1 1 auto;
        padding: calc( map-get($spaces, small) / 2);
    }

}
