@import '../../base-style';

.pagination-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;


    color: map-get($colors, '01');

    .pagination-text {
        flex: 0 1 auto;

        font-size: map-get($font-size, small);
        margin-right: map-get($spaces, large);
    }
    .pagination-buttons {
        flex: 0 1 auto;

        font-weight: 600;
        font-size: map-get($font-size, medium);

        .button-disabled {
            opacity: 0.4;
        }
    }

}
