@import '../../base-style';

$header-height: map-get($dimensions, 'header-height');
$footer-height: map-get($dimensions, 'footer-height');

.base-page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    header {
        flex: 0 1 $header-height;
    }
    .main-content {
        flex: 1 1 auto;
        width: map-get($dimensions, 'main-content-width');
        min-height: calc(100vh - #{$header-height} - #{$footer-height});
        margin: 0 auto;
        background-color: map-get($colors, primary-light1);
    }
    footer {
        flex: 0 1 $footer-height;
    }
}

.blurred {
    filter: blur(4px) brightness(40%);
    background-color: rgba(255, 255, 255, 0.5);
}
