@import '../../base-style';

header {
    display: flex;
    flex-direction: row;
    line-height: map-get($dimensions, 'header-height');

    background-color: map-get($colors, '00');
    color: map-get($colors, '01');

    .logo-section {
        flex-grow: 1;
        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        font-weight: 600;
        letter-spacing: 2px;
        
        margin-left: map-get($dimensions, 'header-margin-h');
    }

    .controls-section {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    
        margin-right: map-get($dimensions, 'header-margin-h');

        .button-portrait {
            position: relative;
    
            .portrait {
                width: map-get($dimensions, 'header-portrait-size');
                height: map-get($dimensions, 'header-portrait-size');
            }
        }
    }
}

.header-button {
    display: inline-block;
    height: inherit;
    padding: 0 0.5em;

    &:hover {
        cursor: pointer;
        color: map-get($colors, '02');
    }
}