@import '../../base-style';

header {
    display: flex;
    flex-direction: row;
    height: map-get($dimensions, 'header-height');

    background-color: map-get($colors, primary);
    color: map-get($colors, secondary);

    .logo-section {
        flex-grow: 1;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        font-weight: 600;
        letter-spacing: 2px;
        
        margin-left: map-get($dimensions, 'header-margin-h');
    }

    .controls-section {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    
        margin-right: map-get($dimensions, 'header-margin-h');

    
        .portrait {
            width: map-get($dimensions, 'header-portrait-size');
            height: map-get($dimensions, 'header-portrait-size');
        }
        .menu-dropdown {
            position: absolute;
            top: map-get($dimensions, 'header-height');
            right: 0px;
        }
    }
}

.header-button {
    display: inline-block;
    height: inherit;
    padding: 0 0.5em;

    &:hover {
        cursor: pointer;
        color: map-get($colors, 'highlight');
    }
}
