@import '../../base-style';

.newthread-page {
    padding: map-get($spaces, large) 0;

    .breadcrumbs-container {
        margin-bottom: map-get($spaces, medium);
        background-color: lighten(map-get($colors, '00'), 20%);
        
        .breadcrumbs {
            @include centralize-in-page;
        }
    }

    .newthread-page-info {
        @include centralize-in-page;

        margin-bottom: map-get($spaces, large);
        color: map-get($colors, '01');

        .newthread-page-title {
            margin-bottom: map-get($spaces, small);
        }
    }

    .create-thread {
        @include centralize-in-page;
    }
}
