@import '../../base-style';

.header-button {
    display: inline-block;
    height: inherit;
    padding: 0 0.5em;

    &:hover {
        cursor: pointer;
        color: map-get($colors, '02');
    }
}